/* 
main color: #b05cba
sec: #ed639e
th: #d6d1f5

*/



.head{
    display: flex;
    background-color:#b05cba;
    justify-content: space-between;
    border:0px;
    height: 50px;
    padding-bottom:10px;
    width:100vw;
    position:fixed;
    bottom: 0px;
}
.head .abc{
    width: auto;
}
body{
    width:100vw;
    height: 100vh;
    margin:0;
    background-image:url("C:/Users/vijay/Desktop/nanmudhalvan_project/puppy.jpg");
    background-repeat: no-repeat;
    filter:brightness(10px);  
    background-size: cover;
    background-position:center;
    padding: 0%;
    backdrop-filter:blur(2px) grayscale(0.2);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    
}
.abc{
    display:flex;
    font-size:small;
    padding-right:10px ;
    padding-left: 10px;
    
    width: 100vw;
    
}
.img1{
    width : 25px;
    height: 25px;
    padding-top: 10px;
    padding-right:10px;
}
.nav{
    
    background-color:#b05cba;
    width: 100vw;
    display:flex;
    justify-content: space-between;
}
.img2{
    border-radius: 50%;
    image-rendering: pixelated;
    width:50px;
    height: 50px;
    padding-top: 4px;
    padding-right:20px;
    
    
    
    
}
.list{
    
    display:flex;
    align-items: center;
    margin-right: 10px;
}

#q,#w,#e{
   padding-right:10px ;
   padding-left: 10px;
   padding-top: 10px;
   padding-bottom: 10px;
   font-family: Arial, Helvetica, sans-serif;
   border: none;
   list-style-type:none;
   font-family:Georgia, 'Times New Roman', Times, serif;
   background-color:#b05cba;
   font-weight: bolder;
   color:#d6d1f5;
   border-radius: 10px;
   margin-left: 10px;
   cursor:pointer;
   /* -webkit-text-stroke: 1px black; */
   height: 50px;
}
#q:hover,#w:hover,#e:hover{
    background-color: #ed639e;
    transform: scale(1.2);
}
.dd{
    background-color:#b05cba ;
    padding-left: 10px;
    color:#d6d1f5;
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    justify-content: center;
}
.df{
    display: flex;
    justify-content: end;
    
    
}
.dfgh{
    
    color:#d6d1f5;
    text-align: center;
    display: block;
    position: inherit;
    padding-top: 20px;
    display: block;
    /* border: 3px solid #ed639e; */
    background-color: #ed639fcf;
    margin-top: 100px;
    margin-left: 40px;
    margin-right: 40px;
    padding: 20px 10px;
    
    border-radius:20px ;
    font-style: oblique;
    font-weight: bolder;
    font-kerning: normal;
     /*-webkit-text-stroke: 1px black; */
    width: fit-content;

}

.dfgh p,h1,h2{
    font-family: monospace;
}
.dfgh p {
    font-size: 16px;
}
.dfgh h2{
    font-size: 20px;
}
.dfgh h1{
    font-size: 30px;
}
.log{
    background-color: #671a9339;
    
    display:block;
    justify-content:center;
    border-radius: 20px;
    width: fit-content;
    
    padding:15px 15px;
    font-size: larger;
    position:unset;
    font-kerning: normal;
}
.logform{
    background-color: rgba(88, 217, 217, 0.18);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:#3d0343;
    border-radius: 20px;
    margin-bottom: 20px;
}
#hw{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:rgb(255, 60, 0);
}
.aas{
    display:block;
    padding:10px 20px;
}
.add{
    border:1px;
    border-radius: 20px;
    margin-left:10px;
    margin-bottom: 10px;
    input-security:auto ;
    background-color: #562b5b;
    color:#d6d1f5;
    display:block;
    padding: 3px 12px;
}
.qwe{
    color: #fa056f;
    
}
.add:hover{
    transform: scale(1.2);
    margin-left: 20px;
    margin-right: 30px;
    padding:5px 5px
}
.an{
     text-decoration: none;
     padding-left: 10px;
     animation:myblink 2s infinite ;
     padding: 10px 10px;
     
}
@keyframes myblink {
   from{color:#07e969;}
    to{color:rgb(215, 125, 7);}
   
    
}
#btn{
    padding: 10px 10px;
    border-radius: 15px;
    margin: 20px 20px;
    border: none;
    background-color: rgb(121, 162, 24);
    color: #730580;
    cursor: pointer;
    font-weight: bold;

}
#btn:hover{
  transform: scale(1.2);
}

