body{
    margin: 0%;
    width: auto;
    
    justify-content:center;
    background-image: linear-gradient(to left,rgb(20, 247, 20),rgb(14, 193, 224));
    display:grid
}
.divone{
    justify-content:center;
    display:grid;
    justify-items: center;
    background-color: rgba(240, 248, 255, 0.317) ;
    padding:10px 10px;
    width:100%;
    margin-top: 1in;
    border-radius: 20px;
    
    position: relative;
    

}
.btnclr{
       padding:10px 10px;
       width:200px;
       font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
       border:none;
       border-radius: 10px;
       background-color: rgb(169, 74, 6);
       color:beige;
       cursor: pointer;
       position: relative;
       overflow: hidden;
      box-shadow: 0 0 0.5rem rgba(0,0,0,0.3);
     

}
